@import "../../assets/styles/custom-colors.scss";

.review-search-bar {
  text-align: center;
  padding: 6.6rem 4rem;

  .container {
    background-color: #f0f0f0;
    padding: 20px 30px;
    border-radius: 10px;
  }

  .custom-input {
    color: #6c757d;
    position: relative;
    background-color: #fff;
    border-color: #e8e8e8;
    border-radius: 6.56px;
    border-style: none;
    overflow: hidden !important;
    height: 65.08px;
    width: 350px;
    padding: 0 37.72px;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
  }
}