@import "../../../assets/styles/custom-colors.scss";

.how-it-work-container {
  background-color: $base-color-darker;
  padding: 4rem;
  text-align: center;
  
  h2 {
    font-weight: bolder;
    margin-bottom: 3rem !important;
  }

  .btn {
    margin-top: 4rem;
    padding: 15px 25px;
    border-radius: 6rem;
  }

  .card {
    border-radius: .8rem;
    border: 0px;

    .card-title {
      font-weight: bolder;
    }

    .card-body {
      padding-bottom: 3rem;

      h5 {
        color: $primary-color;
      }

      .card-img {
        margin: 2rem 0rem;
      }
    }

    .card-hr {
      margin: 3rem;
    }
  }
}