@import "../../assets/styles/custom-colors.scss";

#footer {
  background-color: $primary-color;
  color: #fff;
  font-weight: bold;

  a {
    color: #fff;

    &:hover {
      color: #FFD200 !important;
    }
  }

  .social-icon {
    &:hover {
      fill: #FFD200 !important;
    }
  }
}