@import '../../assets/styles/custom-colors.scss';

#homepage {
  
  .hero-container {
    background-image: url('../../assets/bg1.svg');
    margin-top: 100px;
    padding: 6rem;

    h1 {
      line-height: 1.4;
      margin-bottom: 20px;
      font-weight: bolder;
    }

    h4 {
      line-height: 1.4;
      margin-bottom: 20px;
    }

    .hero-svg {
      height: 200px;
      width: 400px;
    }

    .btn-hero {
      margin-top: 20px;
      padding: 20px 50px;
      border-radius: 6rem;
    }
  }

  .trusted-by-container {
    padding: 4rem;
    text-align: center;

    h2 {
      font-weight: bolder;
      margin-bottom: 3rem !important;
    }

    .trusted-logo {
      width: 200px;
      margin: 10px;
    }
  }

  .get-started-container {
    background-color: $base-color-darker;
    padding: 4rem;
    text-align: center;

    h2 {
      font-weight: bolder;
      margin-bottom: 1rem !important;
    }

    h5 {
      line-height: 2.4rem;
    }

    .btn {
      margin-top: 2rem;
      padding: 15px 25px;
      border-radius: 6rem;
    }
  }

}